SECRET_KEY=change-me
DEBUG=true
ALLOWED_HOSTS=localhost,127.0.0.1

DB_ENGINE=django.db.backends.postgresql
DB_NAME=file_manager
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

PUBLIC_KEY_PATH=public.pem
JWT_ALGORITHM=RS256

CORS_ALLOW_ALL_ORIGINS=true

STORAGE_PUBLIC_BASE_URL=https://storage.arnatech.id
S3_ENDPOINT_URL=
S3_REGION_NAME=us-east-1
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=arnatech-files
S3_PRESIGN_EXPIRES_SECONDS=900
S3_DEFAULT_PART_SIZE_BYTES=8388608

MAX_UPLOAD_SIZE_MB=1024
